.futter h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.futter p{
    display: flex;
    align-items: center;
    
    justify-content: center;
    margin: 5px 200px ;
    font-size: 14px;
    color: #808080;
    text-align: center;
}
.plans-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.plan-card {

    background: #303030;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 40px;
    width: 250px;
   
    
}
.plan-card:hover {
    transform: scale(0.5px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
 }
 .plan-card h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
 }
 .plan-card h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #9e9d9d;
 }
  .plan-card h2 span{
    font-size: 14px;
  }
  .plan-card ul li{
    list-style: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    color: #808080;
  }
  
 
.btn.red {
   background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  align-items: center; /* vertically center the text */
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  width: 100%;
  max-width: 460px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  white-space: nowrap; /* prevents text from wrapping */
  overflow: hidden; /* hides overflow if text is too long */
  text-overflow: ellipsis; /* optional: shows "..." for overflow */
   opacity: 100;
}

.btn.red:focus {
  outline: 0;
}

.btn.red:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn.red:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
 .btn.red {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}


.btn.dark {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: white;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn.dark:hover,
.btn.dark:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.btn.dark:active {
  background: var(--color);
  color: #fff;
}
@media (max-width:768px){
    .futter p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px 2px; 
        font-size: 12px;
        color: #808080;
        
}
.plans-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}
.plan-card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
.plan-card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #9e9d9d;
}
.plan-card ul li {
  list-style: none;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  color: #808080;
}
.futter h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 17px;
}
}
