.slider{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    
    
}
.list {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none; /* prevent interaction on hidden slides */
}

.list.active {
    opacity: 1;
    pointer-events: all; /* allow interaction on visible slide */
    z-index: 10;
}

.item{
    width: 100%;
    height: 100%;
    position: absolute;
    
    inset: 0 0 0 0;
}
.item img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    /* Right side shadow */
box-shadow: inset 6px 0 10px rgba(0,0,0,0.3);

/* Bottom inner shadow */
box-shadow: inset 0 6px 12px rgba(0,0,0,0.3);

/* Sharp inner shadow */
box-shadow: inset 0 4px 0 rgba(0,0,0,0.3);

}
.content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%);
    padding-right: 30%;
    color: #fff;
    
  

   
}
.content h2{
    
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.content .cate {
    font-size: 0.9rem;
    font-weight: 600;
    color: #847979; /* Netflix red */
    text-transform: capitalize;
    letter-spacing: 1.2px;
    margin-bottom: 12px;
}
.content .desc{
    font-size: 0.95rem;
    font-weight: 400;
    color: #cccccc;
    line-height: 1.5;
    margin-bottom: 20px;
}
.content button {
    
    font-size: 0.85rem;
    font-weight: 600;
    color: black;
    border: none;
    padding: 7px 14px;
    letter-spacing: 1px;
    background-color: #00fbcf;
    border-radius: 5px;
    font-family: "poppins", sans-serif;
    cursor: pointer;
}
.content button:hover{
    background-color: black;
    color: #00fbcf;
}
.thumbnails{
    align-items: center;
    
    width: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    overflow-y: scroll;
    scrollbar-width: none;
    left: 90%;
    width: max-content;
    z-index: 100;
    
    top: 100px;

   bottom: 20px;
}
.thumbnail{
    justify-content: center;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    opacity: 0.6;
    transition:  all 0.3s;
    
    align-items: center;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail.active-thumb {
  opacity: 1;
  transform: scale(1.05);
  border: 2px solid #00fbcf;
  border-radius: 20px;
}
.slider-buttons{
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1000;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;

}
.slider-buttons button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    columns: black;
    background-color: #00fbcf;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5;

}
.slider-buttons button:hover{
    background-color: black;
    color: #00fbcf;
}
.slider .list .item:nth-child(1) .content h2,
.slider .list .item:nth-child(1) .content .cate,
.slider .list .item:nth-child(1) .content .desc,
.slider .list .item:nth-child(1) .content button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content h2{
    animation-delay: 0.4s;
}
.slider .list .item:nth-child(1) .content .cate{
    animation-delay: 0.6s;
}
.slider .list .item:nth-child(1) .content .desc{
    animation-delay: 0.8;
}
.slider .list .item:nth-child(1) .content button{
    animation-delay: 1s;
}


.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail {
    from{
        width: 0;
        opacity: 0;
    }

}
.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

.slider.prev .list .item:nth-child(2){
    z-index: 2;

}
.slider.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame 0.5s linear 1 forwards;

}
@keyframes outFrame{
   to{
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
   }
}
.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item:nth-child(1) .content h2,
.slider.prev .list .item:nth-child(1) .content .cate,
.slider.prev .list .item:nth-child(1) .content .desc,
.slider.prev .list .item:nth-child(1) .content button{
    
    animation: ContentOut 0.5s 1s linear 1 forwards;
}
@keyframes contentOut {
    to{
        transform: translateY(-150);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;

    }
    .slider .list .item .content h2{
        font-size: 30px;
    }
}
@media (max-width: 768px){
    .content .desc {
  display: none;
}
.thumbnails {
  align-items: center;
  width: 200px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none;
  left: 90%;
  width: max-content;
  z-index: 100;
  top: 100px;
  bottom: 20px;
  display: none;
}


}