.category-filter{
    
    display: flex;
    gap :10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    padding-bottom: 20px ;
    
}
.category-filter button{
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background :#696969;
    color: #d3d3d3;
   
}
.category-filter button:hover{
    color: #696969;
    background: #d3d3d3;
}
@media (max-width: 768px){
    
.category-filter button {
  padding: 5px 10px;

  border: none;

  border-radius: 25px;

  background: #696969;

  color: #d3d3d3;
  font-size: 10px;
}
}