.title-card{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.title{
    position: relative;
    padding: 20px 10px;
    font-size: large;
    color: #00fbcf;
    left: 40%;
}
.title-cata{
    display: flex;
    justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 25px;
  padding: 0 5px;
  background: #696969;
  border: none;
  border-radius: 5px;
}
.search input {
  flex: 1;
  background: transparent;
  border: none;
  padding-left: 5px;
  color: #dcdcdc;
  outline: none;
}
.search-icon {
    color: #dcdcdc;
}
/* Container for horizontal scrolling */
.card-img {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 200px);
  justify-content: start;
  align-content: center;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  scroll-behavior: smooth;   
  scrollbar-width: none;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
/* Hide scrollbar (optional) */
.card-img::-webkit-scrollbar {
  display: none;
}
/* Individual movie card */
.movie-card {
  width: 150px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
.movie-card p{
  width: 100%;
  top: 10px;
  z-index: 100;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #00fbcf;
  color: black;
  padding: 5px 5px;
}
.movie-info{
  font-size: 10px;

}
.movie-card:hover{
  transform: scale(1.2);
  border: 2px solid #00fbcf;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-left: 15px;
}
@media (max-width: 768px){
  .search {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 25px;
    padding: 0 5px;
    background: #696969;
    border: none;
    border-radius: 5px;
  }
  .search input {
    flex: 1;
    background: transparent;
    border: none;
    padding-left: 5px;
    color: #dcdcdc;
    outline: none;
    font-size: 11px;
  }
  .title {
    position: relative;
    padding: 20px 10px;
    font-size: 15px;
    color: #00fbcf;
    left: 7%;
  }
}
